###### Configuration file for demo program ######

# Specify function to be optmized

function = 1                    # function (F1, F2, F3, F4, F6)

# Specify optimization algorithm and its parameters

optAlg = CD                     # CoordinateDescent - CD
                                # GoldenSection - GS
                                # HookeJeeves - HJ
                                # NelderMead - NM

epsilon = [10e-6, 10e-6]        # Epsilon constant or vector
start = [-5, 5]                 # Starting point
startInterval = [-5:5]          # Starting interval (range) - specific for GS

dx = [0.5, 0.5]                 # Delta vector - specific for HJ

t = 1                           # Simplex offset - specific for NM
alpha = 1.0                     # alpha - specific for NM
beta = 0.5                      # beta - specific for NM
gamma = 2.0                     # gamma - specific for NM
sigma = 0.5                     # sigma - specific for NM
